<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Education Website</title>
    <link rel="stylesheet" href="/css/aboutus.css">
</head>
<body>
   
   
    <header>
        <div class="blackcontainer"></div>
        <div class="redcontainer">
          <div class="flexing">
            <div class="searchbut"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-search" viewBox="0 0 16 16">
                <path
                  d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
              </svg></div>
            <div class="searchbar">What are you looking for?</div>
            <div class="label">INDI Fusion</div>
            <div class="currency">India-INR</div>
            <a href="/loginpage" target="_self">
              <div class="profileicon">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" color="white" fill="currentColor"
                  class="bi bi-person-circle" viewBox="0 0 16 16">
                  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                  <path fill-rule="evenodd"
                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                </svg>
    
              </div>
            </a>
    
            <a href="/wishlist" target="_self">
            <div class="heartbutton">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-heart-fill"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314" />
              </svg>
            </div>
          </a>
          <a href="/shoppingcart" target="_self">
            <div class="cart">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-cart-fill"
                viewBox="0 0 16 16">
                <path
                  d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
              </svg>
            </div>
          </div>
        </a>
          <hr>
          <div class="bar">
            <a href="/fashionpage" target="_self">
              <div class="fashion" >Fashion</div></a>
    
            <a href="/artgallery" target="_self">
            <div class="artgallery">Art Gallery</div></a>
    
            <a href="/home_decor" target="_self">
            <div class="homedecor">Home Decor</div></a>
    
            <a href="/bestseller" target="_self">
            <div class="bestsell">Best Seller</div></a>
    
            <a href="/aboutus" target="_self">
            <div class="about">About Us</div></a>
          </div>
    
    
      </header>
    <main> 
        <section class="hero">
            <h1>About Us</h1>
            <p>From preschool to pre-tertiary, our students enjoy fun, interactive and relevant lessons and are empowered to think beyond the confines of the classroom.</p>
            <a href="#" class="cta-button">See More</a>
        </section>

        <section class="mission">
            <h2>Helping Local Artisians to Achieve More</h2>
            <div class="underline"></div>
            
            <div class="mission-content">
                <div class="mission-text">
                    
                    <h3>Developing Confident and Successful Learners</h3>
                    <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut al Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut al</p>
                    <a href="#" class="view-more-button">View More</a>
                </div>
                <div class="mission-image">
                    <img src="/assets/artgalim5.jpg" alt="img1" height="300px" width="600px">
                </div>
            </div>

            <div class="mission-content reverse">
                <div id="awesome"class="mission-image"> <div class="mission-image"><img src="/assets/artgalim7.jpg" alt="img1" height="300px" width="600px"></div></div>
                <div class="mission-text">
                    <h3>Enjoy Learning with a Unique Classroom Experience</h3>
                    <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut al Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut al</p>
                    <a href="#" class="view-more-button">View More</a>
                </div>
                
            </div>

            <div class="mission-content">
                <div class="mission-text">
                    <h3>Passionate Teachers That Make a Difference</h3>
                    <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut al Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut al</p>
                    <a href="#" class="view-more-button">View More</a>
                </div>
                <div class="mission-image"><img src="/assets/artgalim4.jpg" alt="img1" height="300px" width="600px"></div>
            </div>
        </section>

        <section class="teachers">
            <h2>Fabs!</h2>
            <div class="underline"></div>
            
            <div class="teacher-carousel">
                <div class="teacher">
                    <img src="/assets/image 11.jpg" alt="John Carvan">
                    <div class="teacher-info">
                        <h4>John Carvan</h4>
                    </div>
                </div>
                <div class="teacher featured">
                    <img src="/assets/image 15.jpg" alt="Miss Smith Ellen">
                    <div class="teacher-info">
                        <h4>Miss Smith Ellen</h4>
                    </div>
                </div>
                <div class="teacher">
                    <img src="/assets/image 12.jpg" alt="John Carvan">
                    <div class="teacher-info">
                        <h4>John Carvan</h4>
                    </div>
                </div>
            </div>
        </section>

        <section class="why-it-works">
            <h2>What it Does?</h2>
            <div class="underline"></div>
            
            <div class="features">
                <div class="feature">
                    <div class="feature-icon personalized-learning"></div>
                    <h3>Viewing in AR</h3>
                    <p>Now through Augmented Reality see your Wonders at your Home</p>
                </div>
                <div class="feature">
                    <div class="feature-icon trusted-content"></div>
                    <h3>Trusted content</h3>
                    <p>Created by experts, library of trusted practice and lessons covers math, science, and more. Always free for learners and teachers.</p>
                </div>
                <div class="feature">
                    <div class="feature-icon empower-teachers"></div>
                    <h3>Tools to empower teachers</h3>
                    <p>Teachers can identify gaps in their students' understanding, tailor instruction, and meet the needs of every student.</p>
                </div>
            </div>
        </section>
    <footer>
        <footer>
            <div class="footflex">
              <div class="oneflex">
                <p class="footinfo1"><b>INDI-Fusion</b></p>
                <p class="footinfo">Subscribe</p>
                <p class="footinfo">Get 10% off on your first order</p>
                <p class="footinfo"> <label for="fname">Mail ID:</label>
                  <input type="text" id="fname" name="fname"><br>
                </p>
              </div>
              <div class="twoflex">
                <p class="footinfo1"><b>Account</b></p>
                <p class="footinfo">My Account</p>
                <p class="footinfo">Login/Register</p>
                <p class="footinfo">Wishlist</p>
                <p class="footinfo">Shop</p>
              </div>
              <div class="threeflex">
                <p class="footinfo1"><b>Quick Link</b></p>
                <p class="footinfo">Terms of Use</p>
                <p class="footinfo">FAQ</p>
                <p class="footinfo">Contact</p>
              </div>
              <div class="fourflex">
                <p class="footinfo1"><b>Support</b></p>
                <p class="footinfo">indifusion@gmail.com</p>
                <p class="footinfo">+88015-88888-99999</p>
              </div>
            </div>
          </footer>
    </footer>
</body>
</html>