<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/frontend/css/hover.css">
</head>
<body>
    <div class="galleryadv">
        <div class="artgalim1">
            <img src="assets/artgalim1.png" alt="artgalim1" height="280px">
            <div class="price-overlay">$500</div>
        </div>
        <div class="artgalim2">
            <img src="assets/artgalim2.jpg" alt="artgalim2" height="280px" width="251px">
            <div class="price-overlay">$750</div>
        </div>  
        <div class="artgalim3">
            <img src="assets/artgalim3.jpg" alt="artgalim3" height="280px">
            <div class="price-overlay">$850</div>
        </div>  
        <div class="artgalim4">
            <img src="assets/artgalim4.jpg" alt="artgalim4" height="280px">
            <div class="price-overlay">$950</div>
        </div>  
        <div class="artgalim6">
            <img src="assets/artgalim6.jpg" alt="artgalim6" height="280px" width="221px">
            <div class="price-overlay">$650</div>
        </div>  
        <div class="artgalim7">
            <img src="assets/artgalim7.jpg" alt="artgalim7" height="280px">
            <div class="price-overlay">$700</div>
        </div>  
        <div class="artgalim8">
            <img src="assets/artgalim8.jpg" alt="artgalim8" height="280px">
            <div class="price-overlay">$400</div>
        </div>  
        <div class="artgalim9">
            <img src="assets/artgalim9.jpg" alt="artgalim9" height="280px">
            <div class="price-overlay">$600</div>
        </div>         
        <div class="artgalim5">
            <img src="assets/artgalim5.jpg" alt="artgalim5" height="280px">
            <div class="price-overlay">$550</div>
        </div>  
    </div>
    
</body>
</html>