<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
    <link rel="stylesheet" href="/css/loginpage.css" />
  </head>
  <body>
    <header>
      <div class="blackcontainer"></div>
      <div class="redcontainer">
        <div class="flexing">
        <div class="searchbut"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
        </svg></div>
        <div class="searchbar">What are you looking for?</div>
        <div class="label">INDI Fusion</div>
        <div class="currency">India-INR</div>
        
        <div class="profileicon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-person-circle"
            viewBox="0 0 16 16"
          >
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
            <path
              fill-rule="evenodd"
              d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"
            />
          </svg>
        </div>
        <div class="heartbutton">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-heart-fill"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"
            />
          </svg>
        </div>
        <div class="cart">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-cart-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"
            />
          </svg>
        </div>
      </div>
    
    <hr >
        <div class="bar">
          <div class="fashion">Fashion</div>
          <div class="artgallery">Art Gallery</div>
          <div class="homedecor">Home Decor</div>
          <div class="bestsell">Best Seller</div>
          <div class="about">About Us</div>
        </div>
        
      
    </header>
    <main>
        <div class="elephant">
            <img src="assets/elephant image.jpg" alt="elephant image" />
          </div>
          <br />
  
          <div class="collectionbar">
            <div class="pottery">
              <img src="assets/potim.jpg" alt="pottery" height="200px" width="200px"/>
            </div>
            <div class="paintings">
              <img src="assets/paintim.jpg" alt="paintings" height="200px" width="200px"/>
            </div>
            <div class="coture">
              <img src="assets/cotim.png" alt="coture" height="200px" width="200px"/>
            </div>
            <div class="wallhangs">
              <img src="assets/hangim.jpg" alt="wall hangings" height="200px" width="200px"/>
            </div>
            <div class="jewellery">
              <img src="assets/jewelim.jpg" alt="jewellery" height="200px" width="200px" />
            </div>
            <div class="labelsofcbar">
              <div class="pottery">Pottery</div>
              <div class="painting">Paintings</div>
              <div class="Coture">Coture</div>
              <div class="Wallhangings">Hangings</div>
              <div class="Jewellery">Jewellery</div>
            </div>
          </div>
          <br />
          <div class="potsection">
            <div class="head1">Discover Our Pottery Section</div>
            <div class="head2">
              Embark on a Creative Journey with Our Pottery art
            </div>
            <button type="button" class="button0"
        >SEE ALL ></button>
              </div>
            <div class="potimgs">
            <div class="pot1"><img src="assets/pot1im.jpg" alt="pot1" height="250px" width="400px"/></div>
            <div class="pot2"><img src="assets/potim2.jpg" alt="pot2" height="250px" width="400px"/></div>
            <div class="pot2"><img src="assets/potim3.jpg" alt="pot3" height="250px" width="400px"/></div>
          </div>
          </div>
          <div class="potadv">
            <div class="backgroundpot">
              <div class="lines">
                <p class="line1">Interested in featuring our handcrafted pottery in your store?</p>
                <p class="line2">Together, we can create something beautiful</p>
                <button type="button" class="button1"
        >CLICK HERE</button>
              </div>
              
              <img src="assets/backgroundpot.jpg" alt="backgroundpot" width="100%" height="800px"/>
            </div>
            </div>
            
            <div class="button04"><button type="button" class="button4"
              >SHOP NOW ></button>
      </div>
            <div class="coturesection">
              
              <div class="dress1">
                <img src="assets/dress1.jpg" alt="dress1" height="600px" width="370px">
              </div>
             
              <div class="dress2">
                <img src="assets/dress2.jpg" alt="dress1" height="600px" width="370px">
              </div>
              <div class="dress3">
                <img src="assets/dress3.jpg" alt="dress1" height="600px" width="370px">
              </div>
              <div class="d1in"><p class="red">COUTURE</p >
                <p>Ivory Embroidery Saree Set</p>
                <p>(USD) $9494</p></div>
              <div class="d2in"><p class="red">COUTURE</p>
                <p>Ivory Embroidery Saree Set</p>
                <p>(USD) $9494</p></div>
              <div class="d3in"><p class="red">COUTURE</p>
                <p>Ivory Embroidery Saree Set</p>
                <p>(USD) $9494</p></div>
             
            </div>
            
          <div class="headbig">FROM DESIGNERS ALL OVER INDIA!</div>
          <div class="decor">
            <button type="button" class="button2"
        >SHOP NOW</button>
            <div class="first"><p class="firstpara">Indi-fusion offers bold clothing for women who want to stand out.  The brands combine sophistication with a touch of rebellion. Their pieces awaken confidence and sensuality, allowing women to express themselves in a unique and powerful way.</p>
              <img src="assets/img1.jpg" alt="img1" height="800px" width="450px"></div>
            <div class="second"><img src="assets/img2.jpg" alt="img2" height="800px" width="664px"></div>
            <div class="third"><img src="assets/img3.jpg" alt="img3" height="800px" > </div>
          </div>

          <div class="artgalheading">ART GALLERY</div>
          <div class="button05"><button type="button" class="button5"
            >VIEW ALL ></button>
    </div>
          <div class="galleryadv">
            
              <div class="artgalim1"><img src="assets/artgalim1.png" alt="artgalim1" height="280px"></div>
              <div class="artgalim2"><img src="assets/artgalim2.jpg" alt="artgalim2" height="280px" width="251px"></div>  
              <div class="artgalim3"><img src="assets/artgalim3.jpg" alt="artgalim3" height="280px" ></div>  
              <div class="artgalim4"><img src="assets/artgalim4.jpg" alt="artgalim4" height="280px"></div>  
              <div class="artgalim6"><img src="assets/artgalim6.jpg" alt="artgalim6" height="280px" width="221px"></div>  
              <div class="artgalim7"><img src="assets/artgalim7.jpg" alt="artgalim7" height="280px"></div>  
              <div class="artgalim8"><img src="assets/artgalim8.jpg" alt="artgalim8" height="280px"></div>  
              <div class="artgalim9"><img src="assets/artgalim9.jpg" alt="artgalim9" height="280px"></div>         
              <div class="artgalim5"><img src="assets/artgalim5.jpg" alt="artgalim5" height="280px"></div>  
          </div>

          <div class="testimonials">
            <p class="first1">Testimonials</p>
            <p class="first2">Our customers speak for us!</p></div>

            <div class="testimonialbox">
              <div class="test1">
                <img src="assets/test1.jpg" alt="img1" height="100px">              
                <p>James Pattinson</p>
                <br>                  <p>“Lobortis leo pretium facilisis amet nisl at nec. Scelerisque risus tortor donec ipsum consequat semper consequat adipiscing ultrices.”</p>
              </div>
              <div class="test2"><img src="assets/test2.jpg" alt="img2" height="100px">
                
                <p>James Pattinson</p>
                <br>                  <p>“Lobortis leo pretium facilisis amet nisl at nec. Scelerisque risus tortor donec ipsum consequat semper consequat adipiscing ultrices.”</p></div>
              <div class="test3"><img src="assets/test3.jpg" alt="img3" height="100px">
                
                <p>James Pattinson</p>
                <br>                  <p>“Lobortis leo pretium facilisis amet nisl at nec. Scelerisque risus tortor donec ipsum consequat semper consequat adipiscing ultrices.”</p></div>
            </div>
            


            
          
    </main>
    <footer>
      <div class="footflex">
        <div class="oneflex">
          <p class="footinfo1"><b>INDI-Fusion</b></p>
          <p class="footinfo">Subscribe</p>
          <p class="footinfo">Get 10% off on your first order</p>
          <p class="footinfo">  <label for="fname">Mail ID:</label>
            <input type="text" id="fname" name="fname"><br></p>
        </div>
        <div class="twoflex">
          <p class="footinfo1"><b>Account</b></p>
          <p class="footinfo">My Account</p>
          <p class="footinfo">Login/Register</p>
          <p class="footinfo">Wishlist</p>
          <p class="footinfo">Shop</p>
        </div>
        <div class="threeflex">
          <p class="footinfo1"><b>Quick Link</b></p>
          <p class="footinfo">Terms of Use</p>
          <p class="footinfo">FAQ</p>
          <p class="footinfo">Contact</p>
        </div>
        <div class="fourflex">
          <p class="footinfo1"><b>Support</b></p>
          <p class="footinfo">indifusion@gmail.com</p>
          <p class="footinfo">+88015-88888-99999</p>
        </div>
      </div>
    </footer>
    <div class="overlay">
      <div class="login-signup-container">
          <a href="/index" target="blank"> <button class="close-btn">&times;</button></a>
          <h2>Login or Signup</h2>
          <div class="social-login">
              <button class="facebook">
                  <span style="margin-right: 10px ; color: black;">f</span>
                  Sign in With Facebook
              </button>
              <button class="google">
                  <span style="margin-right: 10px;">G</span>
                  Sign in With Google+
              </button>
          </div>
          <div class="divider">
              <span>Or</span>
          </div>
          <form>
              <input type="text" placeholder="Enter Mobile Number/ Email *" required>
              <input type="text" placeholder="Enter OTP *" maxlength="6" pattern="[0-9]{6}" required>
              <p class="otp-info">OTP will be sent to your Email/Phone</p>
              <p class="terms">By Continuing, I agree to the Terms of Use & Privacy Policy</p>
              <a href="/mydashboard" target="_blank">
                  <button type="button">CONTINUE</button>
              </a>
          </form>
          <p class="help-link">Having trouble logging in? <a href="#">Get Help</a></p>
          <p class="resend-otp">Didn't receive OTP? <a href="#">Resend OTP</a></p>
      </div>
  </div>
  <script src="/frontend/JSON/login.json" type="application/json"></script>
<script src="/js/login.js"></script>
  </body>
</html>